---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <section class="pt-28 pb-20 px-6 bg-gradient-to-b from-gray-50 to-white min-h-screen">
        <div class="max-w-5xl mx-auto">
            <h1 class="text-3xl sm:text-4xl font-bold text-green-800 mb-8 text-center">
                Verdadera Isla de los Monos <br /> 
                <span class="text-green-600">
                    Full Day
                </span>
            </h1>

            <img src="/verdadera-isla-de-los-monos.png" alt="Full Day Amazonas" class="w-full object-cover rounded-3xl shadow-xl mb-8" />

            <div class="space-y-8 text-gray-700 text-lg leading-relaxed">
                <div class="space-y-10">
                    <div class="bg-gray-50 rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                        <h2 class="text-xl font-bold text-green-800 flex items-center mb-4">
                            <i class="fas fa-binoculars mr-2 text-yellow-500"></i> 
                            TOUR AMAZONAS
                        </h2>
                        <ul class="list-disc list-inside space-y-2 text-gray-700">
                            <li>
                                <strong>Recojo de su hotel</strong>, traslado al puerto de Bellavista Nanay.
                            </li>
                            <li>
                                <strong>Bella vista Nanay</strong> Tour gastronómico expréss (tacacho, suri, caimán, y pescado a la parrilla).
                            </li>
                            <li>
                                <strong>Frontera de los Ríos Amazonas y río Nanay</strong> (fenómeno natural cambio de color).
                            </li>
                            <li>
                                <strong>Navegación Río Amazonas</strong> (Maravilla Natural del mundo).
                            </li>
                            <li>
                                <strong>Comunidad Nativa Los Yaguas</strong> (danzas y artesanías).
                            </li>
                            <li>
                                <strong>Verdadera Isla de los Monos</strong> (Centro de rescate de mayor valor debido a su trabajo con primates, especies como el mono choro, titi, tocón, aullador viven aquí, interactuamos con ellos en su hábitat).
                            </li>
                            <li>
                                <strong>Almuerzo en lodge</strong> (pescado, cecina, chorizo arroz, ensalada y jarra de refresco).
                            </li>
                            <li>
                                <strong>Búsqueda de delfines rosados y gris</strong>(ocasionalmente).
                            </li>
                            <li>
                                <strong>Nado en el Río Amazonas</strong>(opcional - llevar ropa de baño).
                            </li>
                            <li>
                                <strong>Atardecer amazónico</strong>, en el Río Amazonas.
                            </li>
                            <li>
                                <strong>Llegada a Puerto Bellavista Nanay</strong>, traslado de retorno a su hotel, fin del tour.
                            </li>
                            <span class="italic text-gray-600">Inicio: 8:00 a 8:15am - Finaliza: 4:00 a 4:30pm aprox.</span>
                        </ul>
                    </div>
                </div>

                <div class="mt-12 space-y-6">
                    <div class="bg-gray-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-regular fa-rectangle-list mr-2"></i>
                            RECOMENDACIONES PARA EL TOUR
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Programar su vuelo de llegada a Iquitos antes de las 8:30 a.m. y su vuelo de retorno después de las 5:30 p.m.
                            </li>
                            <li>
                                Ropa fresca de algodón para el día, ropa de baño, camisetas ligeras, manga larga para protegerse del sol y mosquitos, camisetas o polo extra, siempre recomendamos traer sombreros o gorras porque la temperatura puede llegar a 35 ° a más.
                            </li>
                            <li>
                                Ropa de agua impermeable o casaca para lluvia (opcional), Lentes de Sol, Protector Solar, Repelente de insectos, bloqueador solar. Alcohol gel para manos, papel Higiénico o toallas húmedas.
                            </li>
                            <li>
                                Dinero en efectivo por si desea comprar souvenirs, aperitivos y bebidas extras, no todos los establecimientos utilizan billeteras digitales (Yape, Plin o tarjetas de crédito y débito).
                            </li>
                        </ul>
                    </div>

                    <div class="bg-gray-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-regular fa-rectangle-list mr-2"></i>
                            Términos y Condiciones:
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Mínimo 2 personas para acceder al paquete turístico.
                            </li>
                            <li>
                                Reservar el paquete con el pago de 20%y el 80%restante cancela un dia antes de comenzar el tour de Esa manera nos da la posibilidad de poder organizar el tour sin contratiempos y garantizar la calidad del mismo. Puede pagar vía transferencia bancaria sin ningún costo adicional, o con tarjeta de crédito/debito con el 8% de recargo.
                            </li>
                            <li>
                                Si desea cancelar el tour. No hay devolución No tiene derecho a reembolso.
                            </li>
                            <li>
                                La Agencia Amazonian Traveling se reserva el derecho a modificar el orden de los días en el que se realizarán las actividades turísticas, garantizando el cumplimiento de todo lo mencionado y ofrecido en el presente itinerario.
                            </li>
                            <li>
                                Los tours están sujetos a cambios en el itinerario debido a factores que no sean controlables por la empresa ni los guías como: lluvias, huelgas y similares, se ofrece colaboración para solucionar todo percance.
                            </li>
                            <li>
                                Si al momento del recojo de su hotel, el viajero(a) no se encuentra en su alojamiento, no responde llamadas o mensajes de WhatsApp, será considerado como pasajero no show (ausente) y se continuará el tour sin derecho a reclamos y devolución.
                            </li>
                            <li>
                                La agencia. no se hace responsable de perdidas o cambios de vuelos por ningún motivo por parte de alguna aerolínea, se ofrece colaboración, no aplica reembolso.
                            </li>
                            <li>
                                Se permite realizar el early check-in sin costo adicional solo si su habitación está libre, caso contrario pueden dejar sus cosas en custodia y realizar sus tours.
                            </li>
                            <li>
                                El último día deben dejar sus cosas listas en custodia antes de salir al tour (por la mañana).
                            </li>
                            <li>
                                Durante las actividades turísticas solemos grabar contenido multimedia con fines turísticos para nuestras redes sociales, comunicar con anticipación si no desea que sea compartido en nuestras plataformas sociales, de lo contrario no podrá ser eliminado una vez publicado.
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="pt-8 text-center text-lg font-medium">
                    Vive una experiencia única en la Amazonía peruana. ¡Reserva tu tour hoy!
                </p>

                <div class="flex flex-col sm:flex-row gap-4 justify-center mt-10">
                    <a href="#" onclick="history.back()" class="text-green-800 border border-green-800 px-6 py-3 rounded-full font-semibold hover:bg-green-800 hover:text-white transition">
                        <i class="fas fa-arrow-left mr-2"></i> 
                        Volver a Tours
                    </a>
                    <a href="#" class="bg-green-700 text-white px-6 py-3 rounded-full font-semibold hover:bg-green-600 transition" target="_blank">
                        <i class="fab fa-whatsapp mr-2"></i> 
                        Solicitar Reserva
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>