---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <section class="pt-28 pb-20 px-6 bg-gradient-to-b from-gray-50 to-white min-h-screen">
        <div class="max-w-5xl mx-auto">
            <h1 class="text-3xl sm:text-4xl font-bold text-green-800 mb-8 text-center">
                Tour Pirañas <br /> 
                <span class="text-green-600">
                    2D/1N
                </span>
            </h1>

            <img src="/piranas.png" alt="Full Day Amazonas" class="w-full object-cover rounded-3xl shadow-xl mb-8" />

            <div class="space-y-8 text-gray-700 text-lg leading-relaxed">
                <div class="space-y-10">
                    <div class="bg-gray-50 rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                        <h2 class="text-xl font-bold text-green-800 flex items-center mb-4">
                            <i class="fas fa-binoculars mr-2 text-yellow-500"></i> 
                            DIA 1: IQUITOS – AMAZINÍAN TRAVELING.
                        </h2>
                        <ul class="list-disc list-inside space-y-2 text-gray-700">
                            <li>
                                Inicia con la recepción en el aeropuerto de Iquitos ú Hotel.
                            </li>
                            <li>
                                Traslado hacia el embarcadero Turístico Bellavista Nanay, durante el recorrido se le brindara una breve orientación sobre la ciudad de Iquitos, observando los principales lugares turísticos de esta pujante e histórica ciudad del oriente peruano que, en el Siglo XIX, que paso a convertirse de pequeño poblado al más importante puerto fluvial en el Amazonas, adquiriendo una sorprendente condición cosmopolita durante la denominada “Fiebre del Caucho”. Llegada al Embarcadero Turístico Bellavista nanay, donde haremos un recorrido de 15 a 20 minutos aproximadamente, antes de subir al bote para conocer un poco sobre la gastronomía de la selva. 
                            </li>
                            <li>
                                Seguido iniciamos la navegación por el río más caudaloso del mundo y una de las 7 Maravillas Naturales del Mundo “EL AMAZONAS”, a bordo de cómodas y seguras embarcaciones típicas. El viaje por el río Amazonas le permitirá apreciar un maravilloso panorama en el que la magnificencia del río se abre paso a través de la exuberancia de la selva donde también asoman los pintorescos poblados ribereños con su característico color y alegría.
                            </li>
                            <li>
                                Llegada al Yanayacu River Lodge. Nuestro personal le recibirá con una agradable bebida refrescante de bienvenida, elaborada con fruta frescas de la región. Una corta explicación sobre las normas que rigen la sostenibilidad del Lodge y su entorno le permitirán conocer mejor las maneras de cómo hacer más gratificante su permanencia y participación en las actividades ecoturísticas
                            </li>
                            <li>
                                Almuerzo, Inmediatamente después del almuerzo se dispondrá su alojamiento de acuerdo con el tipo de cabaña seleccionada.
                            </li>
                            <li>
                                Por la tarde nos dirigimos al Centro de Rescate de Fauna Silvestre,” Fundo Rony” para observar e interactuar con algunas de las variedades de animales silvestres, como el oso perezoso, monos, guacamayos, tucanes, boas y otros. Sera una interesante manera de aprender a valorar y respetar la vida silvestre de nuestra Amazonia Peruana
                            </li>
                            <li>
                                Seguido nos dirigimos al “Trapiche Artesanal” donde también podremos conocer algunas de las herramientas que utilizaba el hombre de la selva antiguamente y donde podremos participar de la extracción de jugo de caña de azúcar y disfrutar de esta bebida típica llamada “leva” además de degustar de algunos traguitos afrodisiacos y medicinales como el: RC, 21 raíces, SVSS Y Flamingo.
                            </li>
                            <li>
                                Retorno al Lodge y Cena.
                            </li>
                            <li>
                                Seguido, excursión nocturna, su guía le indicará el momento en que se iniciará la excursión en canoa o a pie que lo llevará a descubrir, el misterioso mundo de los insectos nocturnos, cigarras, arañas, tarántulas, mantis religiosa, serpientes, etc.
                            </li>
                            <li>
                                Retorno al Lodge y Pernocte.
                            </li>
                        </ul>
                    </div>

                    <div class="bg-gray-50 rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                        <h2 class="text-xl font-bold text-green-800 flex items-center mb-4">
                            <i class="fas fa-binoculars mr-2 text-yellow-500"></i> 
                            DIA 2: AMAZONÍAN TAVELING – IQUITOS
                        </h2>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                4:30 a.m. – Tour matutino para observar el amanecer Amazónico en todo su esplendor y recibir energías positivas amazónicas.
                            </li>
                            <li>
                                Durante el recorrido de las primeras horas de la mañana es el tiempo adecuado para poder observar muchas de las especies de aves que se alimentan a orillas del río Yanayacu o de las plantaciones que se encuentran en los alrededores de la comunidad, su guía le explicara sobre cada especie de ave que se encuentren. Retorno al Lodge y Desayuno.
                            </li>
                            <li>
                                Luego nos alistamos para excursionar a pie ó bote según lo permita la estación, hacia “Nuevo Perú”, donde se encuentra establecida la comunidad étnica de los Yahuas, cuyos ancestros fueron descubiertos por Francisco de Orellana en su primera exploración del Amazonas en 1541. Esta visita le permitirá conocer sus costumbres ancestrales, apreciar su original vestimenta de fibras de palmera e incluso Probar su puntería con la pucuna ó cerbatana que los Yaguas utilizaron por siglos para la caza y la Guerra, Demostración de sus danzas típicas donde podrá participar de la danza del moshaco. Retorno al Lodge y Almuerzo.
                            </li>
                            <li>
                                Alistamos el equipaje 2:30 p.m tomamos nuestra embarcación para dirigirnos a la ciudad de Iquitos. De retorno a la ciudad de Iquitos, Nuestra embarcación les llevara por un lado opuesto del río para poder observar y apreciar a una de las especies únicas en el Amazonia y consideradas uno de los principales personajes de los cuentos y leyendas Amazónicas “El Delfín Rosado” conocido localmente como “Bufeo Colorado
                            </li>
                            <li>
                                Llegada a la ciudad de Iquitos traslado hacia nuestra oficina y termino de nuestros servicios.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mt-12 space-y-6">
                    <div class="bg-green-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-solid fa-circle-check mr-2"></i>
                            El tour incluye:
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Recepción en el Aeropuerto de Iquitos.
                            </li>
                            <li>
                                Traslados desde el aeropuerto u hotel vía terrestre y fluvial hacia el Lodge.
                            </li>
                            <li>
                                01 noche de alojamiento en el Lodge.
                            </li>
                            <li>
                                Todas las comidas en el Lodge. (tipo buffet – auto servicio).
                            </li>
                            <li>
                                Excursiones como se detallan en el programa.
                            </li>
                            <li>
                                Guía en inglés o español.
                            </li>
                            <li>
                                Botas de caucho para caminar bajo lluvia (opcionales).
                            </li>
                            <li>
                                Té, Café a disposición.
                            </li>
                        </ul>
                    </div>

                    <div class="bg-red-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-solid fa-ban mr-2"></i>
                            El Tour NO incluye:
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Tickets aéreos Impuestos en aeropuerto.
                            </li>
                            <li>
                                Propinas.
                            </li>
                            <li>
                                Lavandería.
                            </li>
                            <li>
                                Bebidas en el bar. Hotel en ciudad.
                            </li>
                        </ul>
                    </div>

                    <div class="bg-gray-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-regular fa-rectangle-list mr-2"></i>
                            ¿Qué traer a la selva?
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Pantalones y camisas de algodón livianas de manga larga.
                            </li>
                            <li>
                                Bermudas o shorts delgados.
                            </li>
                            <li>
                                Polos de algodón tipo T-shirts o camisetas de manga corta.
                            </li>
                            <li>
                                Bloqueador Solar.
                            </li>
                            <li>
                                Gorra con visera o sombrero liviano.
                            </li>
                            <li>
                                Cámara y/o filmadora con batería recargable, binoculares, linterna personal.
                            </li>
                            <li>
                                Loción o crema repelente para mosquitos (OFF!).
                            </li>
                            <li>
                                Poncho o chaqueta impermeable para la lluvia.
                            </li>
                            <li>
                                Zapatillas o botines cómodos para caminar.
                            </li>
                            <li>
                                Ropa de baño.
                            </li>
                            <li>
                                Y otros de uso personal.
                            </li>
                        </ul>
                    </div>

                    <div class="bg-gray-50 rounded-2xl p-6 shadow-inner">
                        <h3 class="text-xl font-bold mb-4 flex items-center">
                            <i class="fa-regular fa-rectangle-list mr-2"></i>
                            Términos y Condiciones:
                        </h3>
                        <ul class="list-disc list-inside space-y-2">
                            <li>
                                Mínimo 2 personas para acceder al paquete turístico.
                            </li>
                            <li>
                                Reservar el paquete con el pago de 20%y el 80%restante cancela un dia antes de comenzar el tour de Esa manera nos da la posibilidad de poder organizar el tour sin contratiempos y garantizar la calidad del mismo. Puede pagar vía transferencia bancaria sin ningún costo adicional, o con tarjeta de crédito/debito con el 8% de recargo.
                            </li>
                            <li>
                                Si desea cancelar el tour. No hay devolución No tiene derecho a reembolso.
                            </li>
                            <li>
                                La Agencia Amazonian Traveling se reserva el derecho a modificar el orden de los días en el que se realizarán las actividades turísticas, garantizando el cumplimiento de todo lo mencionado y ofrecido en el presente itinerario.
                            </li>
                            <li>
                                Los tours están sujetos a cambios en el itinerario debido a factores que no sean controlables por la empresa ni los guías como: lluvias, huelgas y similares, se ofrece colaboración para solucionar todo percance.
                            </li>
                            <li>
                                Si al momento del recojo de su hotel, el viajero(a) no se encuentra en su alojamiento, no responde llamadas o mensajes de WhatsApp, será considerado como pasajero no show (ausente) y se continuará el tour sin derecho a reclamos y devolución.
                            </li>
                            <li>
                                La agencia. no se hace responsable de perdidas o cambios de vuelos por ningún motivo por parte de alguna aerolínea, se ofrece colaboración, no aplica reembolso.
                            </li>
                            <li>
                                Se permite realizar el early check-in sin costo adicional solo si su habitación está libre, caso contrario pueden dejar sus cosas en custodia y realizar sus tours.
                            </li>
                            <li>
                                El último día deben dejar sus cosas listas en custodia antes de salir al tour (por la mañana).
                            </li>
                            <li>
                                Durante las actividades turísticas solemos grabar contenido multimedia con fines turísticos para nuestras redes sociales, comunicar con anticipación si no desea que sea compartido en nuestras plataformas sociales, de lo contrario no podrá ser eliminado una vez publicado.
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="pt-8 text-center text-lg font-medium">
                    Vive una experiencia única en la Amazonía peruana. ¡Reserva tu tour hoy!
                </p>

                <div class="flex flex-col sm:flex-row gap-4 justify-center mt-10">
                    <a href="#" onclick="history.back()" class="text-green-800 border border-green-800 px-6 py-3 rounded-full font-semibold hover:bg-green-800 hover:text-white transition">
                        <i class="fas fa-arrow-left mr-2"></i> 
                        Volver a Tours
                    </a>
                    <a href="https://wa.link/3jy3xy" class="bg-green-700 text-white px-6 py-3 rounded-full font-semibold hover:bg-green-600 transition" target="_blank">
                        <i class="fab fa-whatsapp mr-2"></i> 
                        Solicitar Reserva
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>