<section class="py-20 px-6 bg-gray-50" id="scroll-down">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-4xl md:text-5xl font-extrabold text-green-800 mb-6 tracking-tight">
            Descubre la
            <span class="text-green-600">
                Amazonía
            </span> 
        </h2>
        <p class="text-lg text-gray-600 mb-14">
            Amazonas es una región hacia el norte de Perú en la frontera con Ecuador. Es conocida por sus densos bosques nubosos, la escarpada cordillera de los Andes y unas ruinas antiguas.
        </p>
    </div>

    <div id="tours" class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/ful-day-amazonas.png" alt="Full day amazonas" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Full Day<br /> <span class="text-yellow-300">Amazonas</span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="/full-day-amazonas" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/piranas.png" alt="Tour pirañas 2D/1N" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Tour Pirañas <br />
                        <span class="text-yellow-300">2D/1N</span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="tour-piranas-2-dias-1-noche" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/anaconda.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Tour Anaconda <br />
                        <span class="text-yellow-300">3D/2N</span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="tour-anaconda-3-dias-2-noches" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/delfin-rosado.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Tour Delfín Rosado
                        <br />
                        <span class="text-yellow-300">
                            4D/3N
                        </span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="tour-delfin-rosado-4-dias-3-noches" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/perezoso.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Tour Oso Perezoso
                        <br />
                        <span class="text-yellow-300">
                            5D/4N
                        </span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="#" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/paq-amazonas.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Paq. Río Amazonas
                        <br />
                        <span class="text-yellow-300">
                            3D/2N
                        </span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="#" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/isla-bonita.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Paq. Isla Bonita
                        <br />
                        <span class="text-yellow-300">
                            4D/3N
                        </span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="#" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>

        <div class="bg-white rounded-3xl shadow-xl overflow-hidden group transition-all duration-300 hover:shadow-2xl">
            <div class="relative">
                <img src="/isla-bonita.png" alt="Palpa Viewpoint" class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition duration-300"></div>
                <div class="absolute bottom-5 left-5 z-10">
                    <h3 class="text-3xl sm:text-3xl font-black text-white drop-shadow-xl">
                        Full Day (Verdadera Isla de los Monos)
                        <br />
                        <span class="text-yellow-300">
                            FULL DAY
                        </span>
                    </h3>
                </div>
            </div>
            <div class="p-6 space-y-4">
                <p class="text-gray-700 text-base leading-relaxed">
                    Explora los bosques nublados del Amazonas, hogar de maravillas desconocidas: orquídeas, osos de anteojos y gallitos de las rocas. ¡Visítalos ahora!
                </p>
                <a href="#" class="inline-block text-green-900 font-semibold hover:underline hover:text-green-900 transition">
                    Ver Itinerario →
                </a>
            </div>
        </div>
    </div>
  
    <div class="text-center mt-20">
        <a href="#" class="inline-flex items-center gap-3 px-8 py-4 text-lg font-semibold text-white bg-green-800 rounded-full shadow-lg hover:bg-green-900 hover:scale-105 transition-transform duration-300" target="_blank">
            <i class="fa-brands fa-whatsapp text-xl"></i>
            Consultar ahora
        </a>
    </div>
</section>